<div>
    <h1>Bienvenido</h1>
    <p>Responde lo siguiente:</p>
</div>
<div>
    <p>¿Asistes a la Convención Nacional 2026?</p>
    <select name="Repoonder">
        <option value="Si">Si</option>
        <option value="No">No</option>
    </select>
    <p>¿Asiste tú pareja a la Convención Nacional 2026?</p>
    <select name="Repoonder">
        <option value="Si">Si</option>
        <option value="No">No</option>
    </select>
    <label for="comentarios">Deja tus comentarios:</label>
    <input type="text" name="comentarios">
    
    <input type="submit" value="Enviar">
</div>
